.createNewProduct{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.new-product-header{
    font-family: var(--secondary-family);
    text-align: center;
}

.new-product-header h2{
    font-size: 3em;
    margin: 0;
}

.new-product-form{
    text-align: center;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    padding: 0 5%;
    margin-bottom: 80px;
    color: aliceblue;
    font-family: var(--secondary-family);
}

.new-product-form input{
    display: block;
    margin: 40px auto;
    font-size: 1.2em;
    border: none;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 20px;
}

.new-product-form button{
    width: 100%;
    font-size: 1.2em;
    border: none;
    font-family: var(--secondary-family);
    margin-bottom: 40px;
}