@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@400;500&display=swap');

:root{
  --main-color: #F9F9F9;
  --secondary-color: #191716;
  --container: 1%;
  --general-family: "Lato";
  --secondary-family: "Poppins";
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
}

.navbar{
  overflow: hidden;
  position: fixed;
  z-index:1; 
  top: 0;
  width: 100%;
  background-color: var(--main-color);
}

.navbar .container{
  padding: var(--container);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
}

.navbar-logo img{
  width: 170px;
  height: 42px;
}

.navbar-search{
  position: relative;
  width: 30%;
  border-radius: 20px;
  background-color: var(--secondary-color);
}

.navbar-search .search-input{
  width: 85%;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 3%;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.navbar-search img{
  display: inline;
  position:absolute;
  right: 4%;
  bottom: 15px;
}

.navbar-buttons ul{
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-buttons ul li:nth-child(1){
  padding: none;
  padding: 5%;
}

.navbar-buttons ul li:nth-child(2){
  margin-left: 1em;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 10px;
  padding: 5%;
}


.nav-item{
  font-size: 1.1em;
  font-family: var(--general-family);
  text-transform:uppercase;
}

.hero{
  margin-top: 3em;
  height: 90vh;
  background: linear-gradient(to bottom, #191716 70%, #F9F9F9 30%);
}


.hero h1{
  color: var(--main-color);
  font-family: var(--secondary-family);
  font-size: 4em;
  margin: 0;
  text-align: center;
  padding-top: 4%;
}

.top-cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 3%;
}

.top-cards .card:nth-child(2){
  margin: 0 75px;
}

.top-cards .card{
  background-color: var(--main-color);
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#games{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#clothing{
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cars{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#games, #clothing, #cars{
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top-card-image{
  width: 120%;
  height: 50%;
}

.top-card-title{
  color: var(--main-color);
  font-family: var(--general-family);
  align-self: center;
  font-size: 1.7em;
}

.top-card-image img{
  width: 100%;
  height: auto;
}


.products-title{
  text-align: center;
  font-size: 2.8em;
  font-family: var(--secondary-family);
  margin-top: 2em;
}

.loader{
  text-align: center;
  font-size: 2em;
  font-family: var(--general-family);
  animation: loading 2s infinite ease-in-out;
  margin-bottom: 2%;
}

.bottom-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination{
  margin: 3em 0;
  list-style: none;
  display: inline-flex;
  background-color: var(--secondary-color);
  padding:0;
  border-radius: 15px;
  overflow: hidden;
}

.page-link {
  font-family: var(--secondary-family);
  font-size: 1.2em;
  font-weight: bold;
  background-color: transparent;
  padding: 10px 20px;
  outline: none;
  color: var(--main-color);
  cursor: pointer;
  border: 1px solid white
}

.footer{
  padding: 50px 15px;
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-evenly;
  color: var(--main-color);
  font-family: var(--secondary-family);
}


.footer .footer-actions ul{
  padding:0;
  list-style: none;
  line-height: 30px;
}

.footer-info p{
  margin: 8px 0;
}

.footer-info ul{
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 2em;
  margin: 0;
}

.footer-info ul li{
  margin-right: 1.2em;
}

.isActive{
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
}

@keyframes loading {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}